services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build: .
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000
    depends_on:
      - redis
    ports:
      - "8000:8000"

  worker:
    build: .
    command: celery -A core.celery_app worker --loglevel=info
    depends_on:
      - redis

  dash:
    build: .
    command: python dash_app/app.py
    ports:
      - "8050:8050"
    depends_on:
      - api
